name: "chalice_rium"

services:
  postgres:
    image: postgres:16.1
    restart: on-failure
    ports:
      - 127.0.0.1:5432:5432
    volumes:
    - postgres-data:/var/lib/postgresql/data
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres

volumes:
  postgres-data:
