<div class="w-full max-w-7xl p-6 m-auto mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800">

  <div class="mt-6 lg:mt-0 mb-4 flex items-center justify-between">
    <%# TODO: I18n %>
    <h2 class="text-lg font-medium text-gray-800 dark:text-white">聖杯ダンジョン一覧</h2>
    <% if user_signed_in? %>
      <%= link_to(t("label.general.register"), new_dungeon_path,
                  class: "px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-gray-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80") %>
    <% end %>
  </div>

  <%= turbo_frame_tag "dungeons-list", autoscroll: true,
                      data: { turbo_action: :advance, autoscroll_block: "start" } do %>
    <%= render partial: "dungeons/table", locals: { dungeons: @dungeons } %>
  <% end %>
</div>

