<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if page.current? %>
  <span aria-current="page" class="px-2 py-1 text-sm text-blue-500 rounded-md dark:bg-slate-800 bg-blue-100/60"><%= page %></span>
<% else %>
  <%= link_to(page, url, remote: remote, rel: page.rel,
              class: "px-2 py-1 text-sm text-slate-500 rounded-md dark:hover:bg-slate-800 dark:text-slate-300 hover:bg-slate-100") %>
<% end %>
